*{
    margin: 0%;
    padding: 0%;

}

body{
    background-color: antiquewhite;
    height: 2900px;
    margin: 0%;
    padding: 0%;
}
.containernav{
    width: 100%;
    height: 110px;
}

nav{
    
    display: flex;
    height: 120px;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(219, 216, 216);
    position: fixed;

}

.navlist{
   
    margin-top: 50px;
    
    margin-left: 140px;

}
.navlist ul{
    
    list-style: none;
    overflow: hidden; 
    /* margin: 40px; */
    /* margin-left: 600px; */
    position: static;
}
.navlist ul li{
    display:inline;
    overflow: hidden;
    position: static;
}
.navlist ul li a{

    color: rgb(8, 14, 64);
    text-decoration: none;
    margin: 10px;
    margin-left: ;
    font-weight: bolder;
    font-family: sans-serif;
    position: static;
}
.navlist ul li a:hover{
    background:#036cf5;
    border-radius: 8px;
    color:white ;

}
.navlist ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #446fa7;
    /* margin-top: 15px; */
    margin-left: -15px;
}
.navlist ul li:hover .sub-menu-1 ul{
display: block;
margin: 10px;
}

.navlist ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 5px;
    /* border-bottom: 1px dotted red; */
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.navlist ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;

}
.navlist ul li:hover .sub-menu-1 ul li a:hover{
    color: rgb(62, 233, 176);
}



.sub-menu-1{
    display: none;
}







.logo{
    width: 35px;
    height:47px ;
    margin-left: 30px;
    background-color: black;
    background-image: url(../ss/Screen107.png);
    background-repeat: no-repeat;
    margin-top:35px ;
}



.De-brill{
    color: rgb(6, 6, 168);
    margin: 2px;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 20px;
}
.De-brill span{
    color: rgb(255, 94, 0);
}


.navbutton{
    display: flex;
    list-style: none;
    margin-top: 40px;
    margin-left: 50px;
}
.MAKE{
    background-color: blue;
    color: white;
    border-radius: 30px;
    width: 120px;
    height: 35px;
    border: none;
    font-family: sans-serif;

}


.MAKE:hover{
background-color:rgb(255, 0, 0) ;
cursor: pointer;



}


.BECOME{
    background-color: red;
    color: white;
    border: none;
    border-radius: 30px;
    height:35px ;
font-family: sans-serif;
width: 180px;
margin-left: 30px;

}
.BECOME:hover{
    background-color:rgb(53, 9, 252) ;
cursor: pointer;
}
