
*{
    padding: 0%;
    margin: 0%;
}


body{
    background-color: bisque;
    width: 100%;
    height: 1200px;
}
.blankspace{
    width: 100%;
    height: 500px;
    background-color: rgb(138, 134, 143);
}
.topblankspace{
background-color: rgb(148, 161, 161);
width: 100%;
height: 200px;
display: flex;
}
.downblankspace{
    width: 100%;
    height: auto;
background-color: brown;
}
.udavid{
    width: auto;
    height: auto;
    margin-top: 60px;
    /* background-color: aquamarine; */
    margin-left: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: white;
    font-style: italic;
}
.samplepage{

    width: auto;
    height: auto;
    /* background-color: aquamarine; */
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 30px;
    /* float: right; */
    margin-left: 800px;
    margin-top: 60px;
}
.uhelloword{
    font-size:35px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 100px ;
    padding: 80px;

}
.bird{
    height: 295px;
    width: 100%;
    /* background-color: rgb(22, 112, 85); */
}