*{
    margin: 0%;
    padding: 0%;
}

body{
    /* margin: 0%;
    padding: 0%; */

    width: 100%;
    height: 2000px;
    background-color: white;
}
.containernav{
    width: 100%;
    height: 120px;
    /* background-color: #021130; */
}

nav{
    
    display: flex;
    height: 120px;
    width: 100%;
    background-color: white;
    position: fixed;
    border: 2px solid rgba(15, 14, 14, 0.103);

}

.navlist{
    /* display: flex; */
    /* margin: 40px; */
    margin-top: 53px;
    
    margin-left: 150px;
/* overflow: auto; */
/* position: absolute; */
}
.navlist ul{
    
    list-style: none;
    overflow: hidden; 
    /* margin: 40px; */
    /* margin-left: 600px; */
    position: static;
}
.navlist ul li{
    display:inline;
    overflow: hidden;
    position: static;
}
.navlist ul li a{

    color: rgb(8, 14, 64);
    text-decoration: none;
    margin: 10px;
    margin-left: ;
    font-weight: bolder;
    font-family: sans-serif;
    position: static;
}
.navlist ul li a:hover{
    background:#1404f0;
    border-radius: 8px;
    color:white ;

}
.navlist ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #446fa7;
    /* margin-top: 15px; */
    margin-left: -15px;
}
.navlist ul li:hover .sub-menu-1 ul{
display: block;
margin: 10px;
}

.navlist ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 5px;
    /* border-bottom: 1px dotted red; */
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.navlist ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;

}
.navlist ul li:hover .sub-menu-1 ul li a:hover{
    color: rgb(62, 233, 176);
}



.sub-menu-1{
    display: none;
}







.logo{
    width: 35px;
    height:47px ;
    margin-left: 30px;
    background-color: black;
    background-image: url(../ss/Screen107.png);
    background-repeat: no-repeat;
    margin-top:35px ;
}


.De-brill{
    color: blue;
    margin: 2px;
    margin-top: 47px;font-family: sans-serif;
}
.De-brill span{
    color: rgb(255, 94, 0);
}


.navbutton{
    display: flex;
    list-style: none;
    margin-top: 40px;
    margin-left: 50px;
}
.MAKE{
    background-color: blue;
    color: white;
    border-radius: 30px;
    width: 120px;
    height: 35px;
    border: none;
    font-family: sans-serif;

}
.MAKE:hover{
    background-color: brown;
}
.BECOME{
    background-color: brown;
    color: white;
    border: none;
    border-radius: 30px;
    height:35px ;
font-family: sans-serif;
width: 180px;
margin-left: 30px;

}
.BECOME:hover{
    background-color: blue;
}


.container{
    width: 100%;
    height: 1512px;
    background: rgb(173, 15, 15);
display: grid;
grid-template-rows: repeat(4,1fr);
grid-auto-columns: 100%;
  
}
.shop{
    width: 100%;
    height: 170px;
    background-color: white;
    /* margin-top: 120px; */
    
}
.shop a{
color: blue;
}
.homelink{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(99, 94, 94);
    padding-left: 100px;

}
.homelink a{
    text-decoration: none;
}
.h3shop{
    font-size:35px ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding-left: 100px;
    padding-top: 12px;
}
.pshop{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(99, 94, 94);
    padding-left: 100px;
    padding-top: 15px;
}
.selectclass{
    margin-left: 1010px;
    width:230px ;
    height: 45px;
    /* display: absolute; */
    margin-bottom: 30px;

}




.book1{
    width: 100%;
    height: 453px;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
   

   
}
.container11{
    width: 250px;
    height:453px ;
    background-color: rgb(7, 206, 241);
    /* display: grid; */
    grid-template-columns: repeat(2,1fr);
grid-auto-rows: 100%;
margin: 20px;
}
.imageside11{
    width: 100%;
height: 300px;
background-color: white;
cursor: pointer;
display: flex;


}

.imageside11-img1{
    width: 180px;
    height: 197px;
    background: #09e62e;
    background-image: url(../books/Screen12.png);
    background-repeat: no-repeat;
    border: none;
    margin-left: 35px;
    margin-top: 10px;
}
.sale11{
    width: 49px;
    height: 48px;
    background-color: rgba(37, 141, 59, 0.979);
    border-radius: 50px;
    position: absolute;
    border: none;
    margin-top: -20px;
    margin-left: 215px;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    cursor: pointer;
    /* float: right; */
}
.textside11{
    width: 100%;
    height: 153px;
    background-color: white;
    display: block;
    border: none;
    text-decoration: none; 
}
.textside11-blend{

    color: rgb(250, 4, 147);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* text-decoration: none; */
    /* font-weight: bold; */

}
.textside11-blend a{
    text-decoration: none;
    color:rgb(250, 4, 147) ;
}



.textside11-price{
    color: green;
    cursor: pointer;
    padding-top: 10px;
    
}


.textside11-btn{
    width: 120px;
    height: 37px;
    border: none;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 30px;
    background: #dbd5d2;
    
}








.container12{
    width: 250px;
    height:453px ;
    background-color: rgb(236, 11, 11);
margin: 20px;

}
.imageside12{
    width: 100%;
    height: 300px;
    background-color: white;
    cursor: pointer;
    display: flex;
}
.imageside12-img{
    width: 180px;
    height: 196px;
    background: #09e62e;
    background-image: url(../books/Screen13.png);
    background-repeat: no-repeat;
    border: none;
    margin-left: 35px;
    margin-top: 10px;
}
.sale12{
    width: 49px;
    height: 48px;
    background-color: rgba(37, 141, 59, 0.979);
    border-radius: 50px;
    position: absolute;
    border: none;
    margin-top: -20px;
    margin-left: 215px;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
.textside12{
    width: 100%;
    height: 153px;
    background-color: white;
    display: block;
    border: none;
    text-decoration: none; 
}
.textside12-blend{

    color: rgb(250, 4, 147);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* text-decoration: none; */
    /* font-weight: bold; */

}
.textside12-blend a{
    text-decoration: none;
    color:rgb(250, 4, 147) ;
}



.textside12-price{
    color: green;
    cursor: pointer;
    padding-top: 10px;
    
}


.textside12-btn{
    width: 120px;
    height: 37px;
    border: none;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 30px;
    background: #dbd5d2;
    
}








.container13{
    width: 250px;
    height:453px ;
   background-color: rgb(11, 199, 20);
margin: 20px;

}
.imageside13{
    width: 100%;
    height: 300px;
    background-color: white;
    cursor: pointer;
    display: flex;
}
.imageside13-img{
    width: 177px;
    height: 196px;
    background: #09e62e;
    background-image: url(../books/Screen14.png);
    background-repeat: no-repeat;
    border: none;
    margin-left: 35px;
    margin-top: 10px;
}
.sale13{
    width: 49px;
    height: 48px;
    background-color: rgba(37, 141, 59, 0.979);
    border-radius: 50px;
    position: absolute;
    border: none;
    margin-top: -20px;
    margin-left: 215px;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
.textside13{
    width: 100%;
    height: 153px;
    background-color: white;
    display: block;
    border: none;
    text-decoration: none; 
}
.textside13-blend{

    color: rgb(250, 4, 147);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* text-decoration: none; */
    /* font-weight: bold; */

}
.textside13-blend a{
    text-decoration: none;
    color:rgb(250, 4, 147) ;
}



.textside13-price{
    color: green;
    cursor: pointer;
    padding-top: 10px;
    
}


.textside13-btn{
    width: 120px;
    height: 37px;
    border: none;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 30px;
    background: #dbd5d2;
    
}





.container14{
    width: 250px;
    height:453px ;
    margin: 20px;
    background-color: rgb(60, 23, 223);
    margin-top: 20px;
}
.imageside14{
    width: 100%;
    height: 300px;
    background-color: rgb(172, 141, 141);
    cursor: pointer;
}
.book1-box4-image{
    width: 100%;
    height: 300px;
    background-color: white;
    cursor: pointer;
    
    }
    .img14{
        width: 249px;
        height: 255px;
        background: #0d0d0e;
        background-image: url(../books/Screen102.png);
        background-repeat: no-repeat;
        border: none;
        
    }
    .img14-sale14{
        width: 49px;
        height: 48px;
        background-color: rgba(37, 141, 59, 0.979);
        border-radius: 50px;
        position: absolute;
        border: none;
        margin-top: -258px;
        margin-left: 210px;
        color: white;
        font-family: sans-serif;
        font-weight: bolder;
        cursor: pointer;
    }

    .textside14{
        width: 100%;
        height: 153px;
        background-color: white;
        display: block;
        border: none;
        text-decoration: none; 
    }
    .textside14-blend{
    
        color: rgb(250, 4, 147);
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        /* text-decoration: none; */
        /* font-weight: bold; */
    
    }
    .textside14-blend a{
        text-decoration: none;
        color:rgb(250, 4, 147) ;
    }
    
    
    
    .textside14-price{
        color: green;
        cursor: pointer;
        padding-top: 10px;
        
    }
    
    
    .textside14-btn{
        width: 120px;
        height: 37px;
        border: none;
        font-weight: bolder;
        font-size: 15px;
        margin-top: 30px;
        background: #dbd5d2;
        
    }

















.book2{
    width: 100%;
    height: 453px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.book2-box1{
    /* background-color: #446fa7; */
    width: 250px;
    height:453px ;
    margin: 20px;

}
.book2-box1-image{
width: 100%;
height: 300px;
background-color: white;
cursor: pointer;

}
.img1{
    width: 249px;
    height: 255px;
    background: #0d0d0e;
    background-image: url(../books/Screen96.png);
    background-repeat: no-repeat;
    border: none;
    
}
.img1-sale21{
    width: 49px;
    height: 48px;
    background-color: rgba(37, 141, 59, 0.979);
    border-radius: 50px;
    position: absolute;
    border: none;
    margin-top: -258px;
    margin-left: 210px;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

.book2-box1-text{
    width: 100%;
    height: 153px;
    background-color: white;
    display: block;
    border: none;
    text-decoration: none;

}



.book2-box1-text p{
color: rgb(250, 4, 147);
font-size: 14px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;

}
.book2-box1-text p a{
    text-decoration: none;
    color: rgb(250, 4, 147);
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.book2-box1-text p a:hover{
    color: #04153b;
}

.book2-box1-text-price{
    /* padding-left: 90px; */
    color: green;
    cursor: pointer;
    padding-top: 10px;
  
}
.book2-box1-text-btn{
    width: 120px;
    height: 37px;
    border: none;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 30px;
    background: #f7f4f3;
}




.book2-box2{
    background-color: #446fa7;
    width: 250px;
    height:453px ;
    margin: 20px;


}
.book2-box2-image{
    width: 100%;
    height: 300px;
    background-color: white;
    cursor: pointer;
    
    }
    .img2{
        width: 250px;
        height: 256px;
        background: #3B5998;
        background-image: url(../books/Screen93.png);
        background-repeat: no-repeat;
        border: none;
        
    }
    .img2-sale22{
        width: 49px;
        height: 48px;
        background-color: rgba(37, 141, 59, 0.979);
        border-radius: 50px;
        position: absolute;
        border: none;
        margin-top: -255px;
        margin-left: 213px;
        color: white;
        font-family: sans-serif;
        font-weight: bolder;
        cursor: pointer;
    }
    
    .book2-box2-text{
        width: 100%;
        height: 153px;
        background-color: white;
        display: block;
        border: none;
    
    }
    .book2-box2-text p{
    color: rgb(250, 4, 147);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    
    }

.book2-box2-text p a{
    text-decoration: none;
    color: rgb(250, 4, 147);
    font-weight: 500;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.book2-box2-text p a:hover{
    
    color: rgb(14, 7, 80);
    

}
    
    .book2-box2-text-price{
        /* padding-left: 90px; */
        color: green;
        cursor: pointer;
        padding-top: 10px;
      
    }
    .book2-box2-text-btn{
        width: 120px;
        height: 37px;
        border: none;
        font-weight: bolder;
        font-size: 15px;
        margin-top: 30px;
        background: #f8f6f5;
    }





.book2-box3{
    background-color: #446fa7;
    width: 250px;
    height:453px ;
    margin: 20px;

}
.book2-box3-image{
    width: 100%;
    height: 300px;
    background-color: white;
    cursor: pointer;
    
    }
    .img3{
        width: 250px;
        min-height: 260px;
        background: #3B5998;
        background-image: url(../books/Screen94.png);
        background-repeat: no-repeat;
        border: none;
        
    }
    .img3-sale23{
        width: 49px;
        height: 48px;
        background-color: rgba(37, 141, 59, 0.979);
        border-radius: 50px;
        position: absolute;
        border: none;
        margin-top: -258px;
        margin-left: 213px;
        color: white;
        font-family: sans-serif;
        font-weight: bolder;
        cursor: pointer;
    }
    
    .book2-box3-text{
        width: 100%;
        height: 153px;
        background-color: white;
        display: block;
        border: none;
    
    }
    .book2-box3-text p{
    color: rgb(250, 4, 147);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    
    }
    .book2-box3-text p a{
        text-decoration: none;
        color: rgb(250, 4, 147);
        font-size: 16px;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .book2-box3-text p a:hover{
        color: #051c50;
    }
    
    .book2-box3-text-price{
        /* padding-left: 90px; */
        color: green;
        cursor: pointer;
        padding-top: 10px;
      
    }
    .book2-box3-text-btn{
        width: 120px;
        height: 37px;
        border: none;
        font-weight: bolder;
        font-size: 15px;
        margin-top: 30px;
        background: #f1efee;
    }



.book2-box4{
    background-color: #446fa7;
    width: 250px;
    height:453px ;
    margin: 20px;

}
.book2-box4-image{
    width: 100%;
    height: 300px;
    background-color: white;
    cursor: pointer;
    
    }
    .img4{
        width: 250px;
        min-height: 259px;
        background: #3B5998;
        background-image: url(../books/Screen95.png);
        background-repeat: no-repeat;
        border: none;
        
    }
    .img4-sale24{
        width: 49px;
        height: 48px;
        background-color: rgba(37, 141, 59, 0.979);
        border-radius: 50px;
        position: absolute;
        border: none;
        margin-top: -259px;
        margin-left: 212px;
        color: white;
        font-family: sans-serif;
        font-weight: bolder;
        cursor: pointer;
    }
    
    .book2-box4-text{
        width: 100%;
        height: 153px;
        background-color: white;
        display: block;
        border: none;
    
    }
    .book2-box4-text p{
    color: rgb(250, 4, 147);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    
    }
    .book2-box4-text p a{
        text-decoration: none;
        color: rgb(250, 4, 147);
       font-weight: 500;
       font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
        'Helvetica Neue', sans-serif;
    }
    .book2-box4-text p a:hover{
        color: #072566;
    }
    
    .book2-box4-text-price{
        /* padding-left: 90px; */
        color: green;
        cursor: pointer;
        padding-top: 10px;
      
    }
    .book2-box4-text-btn{
        width: 120px;
        height: 37px;
        border: none;
        font-weight: bolder;
        font-size: 15px;
        margin-top: 30px;
        background: #f5f3f1;
    }














.book3{
        width: 100%;
        height: 453px;
        background-color: white;
        display: flex;
        align-items: center;
        /* justify-content: center; */
     
}
.book3-box1{
    background-color: #446fa7;
    width: 250px;
    height:453px ;
    margin: 20px;
    margin-left: 113px;
    display: block;
}
.book3-box1-image{
    width: 100%;
    height: 300px;
    background-color: rgb(248, 244, 244);
    cursor: pointer;
    
    }
    .img31{
        width: 250px;
        min-height: 250px;
        background: #3B5998;
        background-image: url(../books/Screen100.png);
        background-repeat: no-repeat;
        border: none;
        
    }
    .img31-sale31{
        width: 49px;
        height: 48px;
        background-color: rgba(37, 141, 59, 0.979);
        border-radius: 50px;
        position: absolute;
        border: none;
        margin-top: -254px;
        margin-left: 212px;
        color: white;
        font-family: sans-serif;
        font-weight: bolder;
        cursor: pointer;
    }
    
    .book3-box1-text1{
        width: 100%;
        height: 153px;
        background-color: white;
        display: block;
        border: none;
    
    }
    .book3-box1-text1 p{
    color: rgb(250, 4, 147);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    
    }
    .book3-box1-text1 p a{
        color: rgb(250, 4, 147);
        font-size: 14px;
        /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
        text-decoration: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
         Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        }
        .book3-box1-text1 p a:hover{
            color: #021130;
        }
        
    
    .book3-box1-text1-price{
        /* padding-left: 90px; */
        color: green;
        cursor: pointer;
        padding-top: 10px;
      
    }
     a s{
        color: #b5bdb6;
        text-decoration: none;
    }

    .book3-box1-text1-btn{
        width: 120px;
        height: 37px;
        border: none;
        font-weight: bolder;
        font-size: 15px;
        margin-top: 30px;
        background: #f5f3f1;
    }








.book3-box2{
    background-color: #446fa7;
    width: 250px;
    height:453px ;
    margin: 20px;
}
.book3-box2-image{
    width: 100%;
    height: 300px;
    background-color: rgb(248, 244, 244);
    cursor: pointer;
    
    }
    .img32{
        width: 250px;
        min-height: 250px;
        background: #3B5998;
        background-image: url(../books/Screen98.png);
        background-repeat: no-repeat;
        border: none;
        
    }
    .img32-sale32{
        width: 49px;
        height: 48px;
        background-color: rgba(37, 141, 59, 0.979);
        border-radius: 50px;
        position: absolute;
        border: none;
        margin-top: -254px;
        margin-left: 212px;
        color: white;
        font-family: sans-serif;
        font-weight: bolder;
        cursor: pointer;
    }
    
    .book3-box2-text{
        width: 100%;
        height: 153px;
        background-color: white;
        display: block;
        border: none;
    
    }
    .book3-box2-text p{
    color: rgb(250, 4, 147);
    font-size: 14px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* text-decoration: none; */
    
    }
    .book3-box2-text p a{
        color: rgb(250, 4, 147);
        font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
        font-weight: 500;
        
        
        }
        .book3-box2-text p a:hover{
    color: rgb(10, 3, 46);
   
    
    }
    
    .book3-box2-text-price {
        /* padding-left: 90px; */
        color: green;
        cursor: pointer;
        padding-top: 10px;
      
    }
    /* .book3-box2-text a{
        color: #c3d3c6;
text-decoration: none;
    } */
    /* .book3-box2-text-price {
color: #c3d3c6;
text-decoration: none;

    } */
    .book3-box2-text-btn{
        width: 120px;
        height: 37px;
        border: none;
        font-weight: bolder;
        font-size: 15px;
        margin-top: 30px;
        background: #f5f3f1;
    }






.book3-box3{
    background-color: #446fa7;
    width: 250px;
    height:453px ;
    margin: 20px;
}
.book3-box3-image{
    width: 100%;
    height: 300px;
    background-color: rgb(248, 244, 244);
    cursor: pointer;
    }
    .img33{
        width: 250px;
        min-height: 250px;
        background: #3B5998;
        background-image: url(../books/Screen99.png);
        background-repeat: no-repeat;
        border: none;
        
    }
    .img33-sale33{
        width: 49px;
        height: 48px;
        background-color: rgba(37, 141, 59, 0.979);
        border-radius: 50px;
        position: absolute;
        border: none;
        margin-top: -254px;
        margin-left: 212px;
        color: white;
        font-family: sans-serif;
        font-weight: bolder;
        cursor: pointer;
    }
    
    .book3-box3-text{
        width: 100%;
        height: 153px;
        background-color: white;
        display: block;
        border: none;
    
    }
    .book3-box3-text p{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }
    .book3-box3-text p a{
    color: rgb(250, 4, 147);

        text-decoration: none;
        font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
         Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-weight: ;

         font-weight: 500;


    }
    .book3-box3-text p a:hover{
        color: #03112e;
    }
    
    .book3-box3-text-price{
        /* padding-left: 90px; */
        color: green;
        cursor: pointer;
        padding-top: 10px;
      
    }
    .book3-box3-text-btn{
        width: 120px;
        height: 37px;
        border: none;
        font-weight: bolder;
        font-size: 15px;
        margin-top: 30px;
        background: #f5f3f1;
    }



















.Gofootertext{
    background-color: rgb(67, 33, 189);
    width: 100%;
    height: 580px;
    display: flex;
    margin-top:150px;
}
.foot1{
    width: 340px;
    height: 580px;
    background-color: rgb(13, 2, 51);
}
.foot2{
    width: 340px;
    height: 580px;
    background-color: rgb(13, 2, 51);
    display:block;
}
.foot3{
    width: 340px;
    height: 580px;
    background-color: rgb(13, 2, 51);
}
.foot4{
    width: 340px;
    height: 580px;
    background-color:rgb(13, 2, 51);
}
.debrill{
    padding-top: 130px;
    padding-left: 80px;
    font-family: sans-serif;
    font-size: 20px;
    color: blue;

}
.debrill spam{
    color: red;
}

.footbox1text{
    padding-left: 80px;
    padding-top: 25px;
    font-family: sans-serif;
    font-size:17px ;
    color: white;

}
.services{
    padding-top:110px ;
    padding-left:40px ;
    font-family: sans-serif;
    color: rgb(42, 5, 250);
}
.listbox2{
    padding-left:40px ;
    padding-top:25px ;

}
.listl li{
    padding: 8px;
    color: white;
    font-family: sans-serif;
}

.ourproduct{
    padding-top: 110px;
    padding-left: 40px;
    font-family: sans-serif;
    color: rgb(31, 7, 247);
}
.listbox3{
    padding-left:40px ;
    padding-top:25px ;
}
.listbox3 li{
    padding: 8px;
    color: white;
    font-family: sans-serif;
}
.socials{
    padding-top: 110px;
    padding-left: 40px; 
    font-family: sans-serif;
    color: rgb(57, 4, 247);
}

.fa{
    padding: 10px ;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 40px;
    height: 20px;

}
 .fa-facebook{
    padding: 10px ;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 40px;
    height: 20px;
    margin-left: 40px;
    /* padding-left: 30px; */
} 



.fa:hover{
    opacity: 0.7
}
.fa-facebook{
    background: #3B5998;
    color: white;
    
}


.fa-instagram{
    background: #ece8e7;
    color: rgb(250, 6, 6);
    
}



.fa-twitter{
    background: rgb(92, 227, 245);
    color: rgb(221, 228, 233);
    
}