*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: white;
    color: rgba(68, 18, 161, 0.821);
}
.containernav{
    width: 100%;
    height: 120px;
    background-color: #302f44;
}
nav{
    
    display: flex;
    height: 120px;
    width: 100%;
    background-color: white;
    position: fixed;
    border: 2px solid rgb(224, 209, 209);
}

.navlist{
    /* display: flex; */
    /* margin: 40px; */
    margin-top: 53px;
    
    margin-left: 120px;
/* overflow: auto; */
/* position: absolute; */
}
.navlist ul{
    
    list-style: none;
    overflow: hidden; 
    /* margin: 40px; */
    /* margin-left: 600px; */
    position: static;
}
.navlist ul li{
    display:inline;
    overflow: hidden;
    position: static;
}
.navlist ul li a{

    color: rgb(8, 14, 64);
    text-decoration: none;
    margin: 10px;
    font-weight: bolder;
    font-family: sans-serif;
    position: static;
}
.navlist ul li a:hover{
    background:#0a0375;
    border-radius: 8px;
    color: white;

}
.navlist ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #f0f0f5;
    /* margin-top: 15px; */
    margin-left: -15px;
}
.navlist ul li:hover .sub-menu-1 ul{
display: block;
margin: 10px;
}

.navlist ul li:hover .sub-menu-1 ul li{
    width: 150px;
    /* padding: 5px; */
    /* border-bottom: 1px dotted red; */
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.navlist ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;

}
.navlist ul li:hover .sub-menu-1 ul li a:hover{
    color: white;
}



.sub-menu-1{
    display: none;
}








.logo{
    width: 35px;
    height:47px ;
    margin-left: 30px;
    background-color: rgb(197, 193, 193);
    background-image: url(/ss/Screen107.png);
    background-repeat: no-repeat;
    margin-top:35px ;
}

.De-brill{
    color: rgb(6, 6, 168);
    margin: 2px;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 20px;
}
.De-brill span{
    color: rgb(255, 94, 0);
}


.navbutton{
    display: flex;
    list-style: none;
    margin-top: 40px;
    margin-left: 50px;
}
.MAKE{
    background-color: rgb(4, 4, 136);
    color: white;
    border-radius: 30px;
    width: 120px;
    height: 35px;
    border: none;
    font-family: sans-serif;

}
.MAKE:hover{
    background-color:orangered ;
    cursor: pointer;
}
.BECOME{
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 30px;
    height:35px ;
font-family: sans-serif;
width: 180px;
margin-left: 30px;

}
.BECOME:hover{
    background-color:rgb(34, 4, 143) ;
    cursor: pointer;
}



.topdiv{
    width: 100%;
    height: 35px;
    /* background-color: #acaac0; */
    display: flex;
}
.topdiv p{
font-size: 15px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
 Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(114, 110, 110);
}
.home a{
text-decoration: none;
    margin-left: 110px;

}
.Pre-Nursery a{
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;

}
.topcontainer{
    width: 83%;
    height: 900px;
    /* background: #302f44; */
    margin-left: 110px;
    /* border: 3px solid red; */
}
hr{
    
    border: 2px solid rgb(10, 177, 46);
}

.lighttop{
    width: 100%;
    height: 64px;
    background: #f5f5f7;
    display: flex;
}
.lighttop p{
    padding-left: 50px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 20px;
}
.lighttop .btn{
    margin-left: 600px;
    margin-top: 15px;
    width: 100px;
background-color:#e7e7ee;
height: 32px;
border: none;
}
.lighttop .btn a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 16px;
     text-decoration: none;
     font-weight: 700;

}
.whitecontainer{
    width: 100%;
    height: 600px;
    background: #f9f9fa;
    display: flex;
}
.bookcontainer{
    width: 50%;
    height: 600px;
    background: white;


}

.imageside{
    width: 100%;
    height:420px ;
    /* background: #0e0e80; */
display: flex;
align-items: center;
justify-content: center;
}
.boxbook{
    width: 46.7%;
    height: 287px;
    background: #e7e7ee;
    /* background-image: url(/books/Screen135.png); */
    background-repeat: no-repeat;
    margin-top: 30px;
}
.boxbook:hover{
opacity: 5px;

}
.img{
    opacity: 9px;
}
.sale{
    width: 45px;
    height: 49px;
    background-color: rgba(82, 168, 99, 0.979);
    border-radius: 50px;
    position: absolute;
    border: none;
    margin-top: -299px;
    margin-left: -511px;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    cursor: pointer;
    font-size: 15px;
}
.imageside .fa {
  
   
    position: absolute;
    margin-top: -269px;
    margin-left: 470px;
    color: rgb(136, 136, 136);
    /* font-weight: bolder; */
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    
}



.imagesidedown{
    width: 100%;
    height:180px ;
    /* background: #d4d7d8; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.book1{
    width: 18%;
    height: 120px;
    background: #a8a6c7;
    margin-right: 15px;
    background-image: url(/books/Screen136.png);
    background-repeat: no-repeat;
    /* margin-top: 8px; */
    
}
.book2{
    width: 18%;
    height: 139px;
    background: #3f36b8;
    margin-left: 30px;
    background-image: url(/books/Screen137.png);
    background-repeat: no-repeat;
}
.book3{
    width: 17%;
    height: 128px;
    background: #14132b;
    margin-left: 40px;
    background-image: url(/books/Screen138.png);
    background-repeat: no-repeat;
}
.book4{
    width: 18%;
    height: 135px;
    background: #0c0477;
    margin-left: 40px;
    background-image: url(/books/Screen139.png);
    background-repeat: no-repeat;
}
.textcontainer{
    width: 50%;
    height: 600px;
    background: #dcdbe6;
}
.textcontainer h1{
    padding-top: 30px;
}
.textcontainer h1 s{
    font-size: 20px;
    padding-top: 30px;
    color: #8bac8f;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif ;
    

}
.textcontainer h1 u{
    font-size: 20px;
    color: #29ad39;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif ;
    

}
.textcontainer  p{
    padding-top: 20px;
    color: rgb(104, 101, 101);
    font-size: 18px;
}
.textcontainer  button{
    margin-top: 20px;
    width: 100px;
    height: 35px;
    font-size: 16px;
    border: none;
    background: #a8a6c7;
}