*{
    margin: 0%;
    padding: 0%;

}
body{
    margin: 0%;
    padding: 0%;
}

.containernav{
    width: 100%;
    height: 120px;
    background-color: #446fa7;
}

.navbox{

    
    display: flex;
    height: 120px;
    width: 100%;
    background-color: white;
    position: fixed;
    border: 2px solid rgba(107, 105, 105, 0.158);

}

.navlist{
    /* display: flex; */
    /* margin: 40px; */
    margin-top: 40px;
    
    margin-left: 150px;
/* overflow: auto; */
/* position: absolute; */
}
.navlist ul{
    
    list-style: none;
    overflow: hidden; 
    /* margin: 40px; */
    /* margin-left: 600px; */
    position: static;
}
.navlist ul li{
    display:inline;
    overflow: hidden;
    position: static;
}
.navlist ul li a{

    color: rgb(8, 14, 64);
    text-decoration: none;
    margin: 10px;
    margin-left: ;
    font-weight: bolder;
    font-family: sans-serif;
    position: static;
}
.navlist ul li:hover{
    background:#446fa7;
    border-radius: 8px;

}
.navlist ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #446fa7;
    /* margin-top: 15px; */
    margin-left: -15px;
}
.navlist ul li:hover .sub-menu-1 ul{
display: block;
margin: 10px;
}

.navlist ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 5px;
    /* border-bottom: 1px dotted red; */
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.navlist ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;

}
.navlist ul li:hover .sub-menu-1 ul li a:hover{
    color: rgb(62, 233, 176);
}



.sub-menu-1{
    display: none;
}










.De-brill{
    color: blue;
    margin: 10px;
    margin-top: 35px;font-family: sans-serif;
}
.De-brill span{
    color: rgb(255, 94, 0);
}


.navbutton{
    display: flex;
    list-style: none;
    margin-top: 40px;
    margin-left: 50px;
}
.MAKE{
    background-color: blue;
    color: white;
    border-radius: 30px;
    width: 120px;
    height: 35px;
    border: none;
    font-family: sans-serif;

}
.MAKE:hover{
    background-color: brown;
}
.BECOME{
    background-color: brown;
    color: white;
    border: none;
    border-radius: 30px;
    height:35px ;
font-family: sans-serif;
width: 180px;
margin-left: 30px;


}
.BECOME:hover{
    background-color: blue;
}
.blink{
    width: 100%;
    height: 400px;
    background-color: rgb(39, 6, 187);
    
}



.Gofootertext{
    background-color: rgb(175, 17, 17);
    width: 100%;
    height: 450px;
    display: flex;
}
.foot1{
    width: 340px;
    height: 460px;
    background-color: rgb(2, 0, 10);
}
.foot2{
    width: 340px;
    height: 460px;
    background-color: rgb(2, 0, 10);
    display:block;
}
.foot3{
    width: 340px;
    height: 460px;
    background-color: rgb(2, 0, 10);
}
.foot4{
    width: 340px;
    height: 460px;
    background-color: rgb(2, 0, 8);
}
.debrill{
    padding-top: 130px;
    padding-left: 80px;
    font-family: sans-serif;
    font-size: 20px;
    color: blue;

}
.debrill span{
    color: orangered;
}
.footbox1text{
    padding-left: 80px;
    padding-top: 25px;
    font-family: sans-serif;
    font-size:17px ;
    color: white;

}
.services{
    padding-top:110px ;
    padding-left:40px ;
    font-family: sans-serif;
    color:blue;
}
.listbox2{
    padding-left:40px ;
    padding-top:25px ;

}
.listl li{
    padding: 8px;
    color: white;
    font-family: sans-serif;
}

.ourproduct{
    padding-top: 110px;
    padding-left: 40px;
    font-family: sans-serif;
    color: blue;
}
.listbox3{
    padding-left:40px ;
    padding-top:25px ;
}
.listbox3 li{
    padding: 8px;
    color: white;
    font-family: sans-serif;
}
.socials{
    padding-top: 110px;
    padding-left: 40px; 
    font-family: sans-serif;
    color: blue;
}
.foot4 .fa{
    padding: 10px ;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 40px;
    height: 20px;
    /* margin-left: 20px; */
    /* padding-left: 30px; */
}

.foot4 .fa-facebook{
    padding: 10px ;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 40px;
    height: 20px;
    margin-left: 40px;
    /* padding-left: 30px; */
}



.foot4 .fa:hover{
    opacity: 0.7
}
.foot4 .fa-facebook{
    background: #3B5998;
    color: white;
    
}


.foot4 .fa-instagram{
    background: #ece8e7;
    color: rgb(252, 61, 13);
    
}



.foot4 .fa-twitter{
    background: rgb(92, 227, 245);
    color: rgb(221, 228, 233);
    
}