*{
    margin: 0%;
    padding: 0%;

}
body{
    margin: 0%;
    padding: 0%;
    height: auto;
    background-color: rgba(238, 15, 15, 0.438);
   

}
.maincontainer{
    width:70% ;
    height: 400px;
    background:rgb(232, 231, 235);
    margin-left: 190px;
    display: grid;
    grid-auto-columns:  repeat(3,1fr);
    grid-template-rows: 100%;


}
.main1{
    width: 100%;
    height: 400px;
    background: white;
    margin-top: 80px;


}

a .david{

}
.Spage{
   float: right; 
   text-decoration: none;
   color: rgb(63, 62, 61);
   font-family: sans-serif;
}
h1 {
    padding-top: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size:60px ;
    font-weight: 100;
}
.david{
    color: rgb(90, 97, 97);
    font-size: 20px;
}
hr{
    margin-top: 75px;
    color: brown;
}

.main2{
    width: 100%;
    height: 400px;
    background: rgb(147, 187, 199);
}
.main3{
    width: 100%;
    height: 400px;
    background: rgb(168, 64, 64);
}