
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
.containernav{
    width: 100%;
    height: 125px;
}

nav{
    
    display: flex;
    height: 120px;
    width: 100%;
    background-color: white;
    position: fixed;
    border:  1px solid rgba(151, 149, 149, 0.274);

}

.navlist{
    /* display: flex; */
    /* margin: 40px; */
    margin-top: 53px;
    
    margin-left: 140px;
/* overflow: auto; */
/* position: absolute; */
}
.navlist ul{
    
    list-style: none;
    overflow: hidden; 
    /* margin: 40px; */
    /* margin-left: 600px; */
    position: static;
}
.navlist ul li{
    display:inline;
    overflow: hidden;
    position: static;
}
.navlist ul li a{

    color: rgb(8, 14, 64);
    text-decoration: none;
    margin: 10px;
    margin-left: ;
    font-weight: bolder;
    font-family: sans-serif;
    position: static;
}
.navlist ul li:hover{
    background:#446fa7;
    border-radius: 8px;

}
.navlist ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(233, 233, 71);
    /* margin-top: 15px; */
    margin-left: -15px;
}
.navlist ul li:hover .sub-menu-1 ul{
display: block;
margin: 10px;
}

.navlist ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 2px;
    /* border-bottom: 1px dotted red; */
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.navlist ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;

}
.navlist ul li:hover .sub-menu-1 ul li a:hover{
    color: rgb(241, 245, 243);
}



.sub-menu-1{
    display: none;
}










.logo{
    width: 35px;
    height:47px ;
    margin-left: 30px;
    background-color: black;
    background-image: url(../ss/Screen107.png);
    background-repeat: no-repeat;
    margin-top:35px ;
}


.De-brill{
    color: rgb(6, 6, 168);
    margin: 2px;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 20px;
}
.De-brill span{
    color: rgb(255, 94, 0);
}


.navbutton{
    display: flex;
    list-style: none;
    margin-top: 40px;
    margin-left: 50px;
}
.MAKE{
    background-color: blue;
    color: white;
    border-radius: 30px;
    width: 120px;
    height: 35px;
    border: none;
    font-family: sans-serif;

}
.MAKE:hover{
color: white;
background: brown;
}
.BECOME{
    background-color: brown;
    color: white;
    border: none;
    border-radius: 30px;
    height:35px ;
font-family: sans-serif;
width: 180px;
margin-left: 30px;

}
.BECOME:hover{
    background: blue;
}






.lightbluecontainer{
    width: 100%;
    height: 1320px;
    background-color: rgb(96, 171, 246);
}


.topcontainer{
    width: 100%;
    height: 500px;
    background-color:white;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
    justify-content: center;
    /* align-items: center; */
    

}










.centercontainer{
    width: 100%;
    height: 900px;
    /* background-color: blueviolet; */
    display: flex;

}
.textside{
    width: 36%;
    height: auto;
    /* text-align: justify; */
    background-color: rgb(7, 7, 118);
    
}
p{
    color: white;
    font-family: 'Segoe UI', Tahoma,
     Geneva, Verdana, sans-serif;

    font-size: 23px;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 15px;

}
.divcontainer{
    width: 59.7%;
    height: auto;
    background-color:yellow;
    display: flex;
}
.maincontainer{
    width: 97.5%;
    height: 600px;
    /* background-color: aqua; */
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    
    
    
}
.divone{
    width: 100%;
    height: 55px;
    background-color: rgb(7, 7, 118);
}
.h1one{
    color: white;
    font-family: 'Segoe UI',
     Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-top: 16px;
    padding-left: 20px;
}
.divtwo{
    width: 100%;
    height: 160px;
    background-color: rgb(153, 247, 216);
}
.ullione{
    padding-left: 60px;
    padding-top: 20px;

}
.ullione li{
    color: rgb(7, 7, 118);
    padding: 2px;
    font-family: 'Segoe UI', 
    Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bolder;
}
.divthree{
    width: 100%;
    height:55px ;
    background-color:rgb(7, 7, 118) ;
}
.h1two{
    color: white;
    font-family: 'Segoe UI',
     Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-top: 16px;
    padding-left: 20px;
}
.divfour{
    width: 100%;
    height:190px ;
    background-color:rgb(153, 249, 217) ;
}
.ullitwo{
    padding-left: 60px;
    padding-top: 20px; 
}
.ullitwo li{
    color: rgb(7, 7, 118);
    padding: 2px;
    font-family: 'Segoe UI', 
    Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bolder;
}
.phonecontainer{
    width: 400px;
    height: 420px;
    background-color:rgb(12, 12, 47) ;
    margin-top: 230px;
    position: absolute;
    margin-left:395px ;


}

.h1youcan{
    font-size: 16px;
    color: white;
    padding-top: 20px;
    padding-left:29px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* letter-spacing: 1px; */
    
}
.phonecon1{
    width: 95px;
    height: 42px;
    background-color: rgb(7, 174, 174);
    /* position: absolute; */
    margin-top: 36px;
    margin-left: 30px;
    text-align: center;
    

}
.h2duration{
    color: white;
    /* text-align: center; */
    align-items: center;
    font-size:20px ;
    padding-top: 8px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1twodays{
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, 
    Verdana, sans-serif;
    padding-left: 30px;
}
.phonecon2{
    width: 130px;
    height: 50px;
    background-color: rgb(7, 174, 174);
    /* position: absolute; */
    margin-top: 10px;
    margin-left: 30px;
    text-align: center;
    margin-top: 15px;

}
.investment{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
     sans-serif;
     font-size: 22px;
     padding-top: 7px;
     color: white;
} 

.pmoney{
    color: white;
    font-size: 40px;
    padding-top:0px ;
    padding-left: 30px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
     sans-serif;
     

}
.individual{
    color: white;
    padding-left: 30px;
    padding-top: 1px;
    font-size:18px ;
    font-family: 'Segoe UI', Tahoma, Geneva, 
    Verdana, sans-serif;
}
.pgroup{
    color: white;
    font-family: 'Segoe UI', Tahoma, 
    Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-left: 30px;
    font-style: italic;

}
.btn{
    width: 210px;
    height: 70px;
    background-color: rgb(38, 127, 237);
    position: absolute;
    margin-top: 650px;
    margin-left: 585px;
    color: white;

    }










.Gofootertext{
    background-color: rgb(175, 17, 17);
    width: 100%;
    height: 450px;
    display: flex;
}
.foot1{
    width: 340px;
    height: 460px;
    background-color: black;
}
.foot2{
    width: 340px;
    height: 460px;
    background-color: black;
    display:block;
}
.foot3{
    width: 340px;
    height: 460px;
    background-color: black;
}
.foot4{
    width: 340px;
    height: 460px;
    background-color: black;
}
.debrill{
    padding-top: 130px;
    padding-left: 80px;
    font-family: sans-serif;
    font-size: 20px;
    color: blue;

}
.debrill span{
    color: orangered;
}
.footbox1text{
    padding-left: 80px;
    padding-top: 25px;
    font-family: sans-serif;
    font-size:17px ;
    color: white;

}
.services{
    padding-top:110px ;
    padding-left:40px ;
    font-family: sans-serif;
    color: blue;
}
.listbox2{
    padding-left:40px ;
    padding-top:25px ;

}
.listl li{
    padding: 8px;
    color: white;
    font-family: sans-serif;
}

.ourproduct{
    padding-top: 110px;
    padding-left: 40px;
    font-family: sans-serif;
    color: blue;
}
.listbox3{
    padding-left:40px ;
    padding-top:25px ;
}
.listbox3 li{
    padding: 8px;
    color: white;
    font-family: sans-serif;
}
.socials{
    padding-top: 110px;
    padding-left: 40px; 
    font-family: sans-serif;
    color: blue;
}
.foot4 .fa{
    padding: 10px ;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 40px;
    height: 20px;
    /* margin-left: 20px; */
    /* padding-left: 30px; */
}

.foot4 .fa-facebook{
    padding: 10px ;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 40px;
    height: 20px;
    margin-left: 40px;
    /* padding-left: 30px; */
}



.foot4 .fa:hover{
    opacity: 0.7
}
.foot4 .fa-facebook{
    background: #3B5998;
    color: white;
    
}


.foot4 .fa-instagram{
    background: #ece8e7;
    color: rgb(252, 61, 13);
    
}



.foot4 .fa-twitter{
    background: rgb(92, 227, 245);
    color: rgb(221, 228, 233);
    
}